{% extends 'base.html' %}
{% block content %}
  <h1>Processes</h1>
  <a href="{% url "profiles:process_new" %}" class="btn btn-primary">Create New Process</a>
  <br>
  <br>
  <table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>File Location</th>
        <th>Organization</th>
        <th>Delete</th>
    </tr>
    {% for process in object_list %}
    <tr>
        <td><a href="{% url "profiles:process_edit" process.id %}">{{ process.name }}</a></td>
        <td> {{ process.raw_file }}
        <td> {{ process.organization|default_if_none:"" }}
        <td><a href="{% url "profiles:process_delete" process.id %}">X</a></td>
    </tr>
  {% endfor %}
  </table>
  <br>
{% endblock %}
