{% extends 'base.html' %}
{% block content %}
<h1>Process "{{form.instance.name}}"</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Submit!</button>
    <button class="btn btn-primary" type="submit" name="classify">Classify Tasks</button>
  </form>
    {% if form.instance.task_set.all %}
        <h3> Tasks </h3>
      <table class="table table-striped">
        <tr>
            <th>Label</th>
            <th>Type</th>
            <th>Application Type</th>
            <th>Classified Task Resources</th>
        </tr>
        {% for obj in form.instance.task_set.all %}
        <tr>
            <td>{{ obj.label }}</td>
            <td>{{ obj.task_type }}</td>
            <td>{{ obj.application_type|default:''}}</td>
            <td>{{ obj.recommended_app|default:''}}</td>
        </tr>
        {% endfor %}
    </table>
        <a href="{% url 'profiles:tasks_edit' pk=form.instance.id %}">Edit process tasks</a>
    {% endif %}
{% endblock %}
